@page
@model BAIS3110_OAuth_Brendon_Lapp.Pages.LogoutModel
@{
}

<script>
    setTimeout(function () {
        window.location.href = "Index";
    }, 3000);
</script>

<div>
    <p>Logging you out</p>
</div>